
// Here we define the animations for the app

// Fade in and out animations for notes

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

// Slide animations for menu

@keyframes menuSlideIn {
  from { left: -100%; }
  to { left: 0; }
}

@keyframes menuSlideOut {
  from { left: 0; }
  to { left: -100%; }
}

// Slide animations for note messages

@keyframes messageSlideIn {
  from {
    bottom: -5rem;
    opacity: 0;
  }
  to {
    bottom: 1.5rem;
    opacity: 1;
  }
}

@keyframes messageSlideOut {
  from {
    bottom: 1.5rem;
    opacity: 1;
  }
  to {
    bottom: -5rem;
    opacity: 0;
  }
}
