
// App variables, such as fonts, colors, etc.

// Fonts

$cute: 'Cute Font', cursive;
$abz: 'ABeeZee', sans-serif;

// Colors

$white: #fff;
$black: #111;
$red: #c22;
$lightGreen: #86c98a;
$lemonYellow: #e0e000;
